# Untrack folders
img_folder/gradients/
static/data/
models/
generated/
bigdata/
img_folder/max_activ/
data/tinyimagenet/train/
data/tinyimagenet/val/
data/exsmallimagenet/
data/50classes
data/
data/imagenet-mini/
exsmallimagenet/
documentation/
results/
